@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2? family= Grape+Nuts & display=swap');

@import url('https://fonts.googleapis.com/css2? family= Source+Sans+Pro:wght@200 & display=swap');

:root {
    --font1: Verdana, Geneva, Tahoma, sans-serif;
    --font2: 'Grape Nuts', cursiva;
    --font3: 'Source Sans Pro', sem serifa;
}

* {
    margin: 0px;
    padding: 0px;
}

/*
#A4A6A4 - cinza claro
#53BF06 - verde neon
#3B7302 - verde meio escuro
#888C03 - mostarda 
#0D0D0D - preto 
#ffffff - branco*/

html, body {
    min-height: 100%;
    background-color: #a4a6a4;
    font-family: var(--font1);
}

header {
    background-color: #0d0d0d;
    color: #ffffff;
    text-align: center;
}

header > h1 {
    padding-top: 50px;
    font-variant: small-caps;
    font-family: var(--font2);
    font-size: 10vw;
}

header > p {
    padding-bottom: 50px;
}

a {
    color: #ffffff;
    text-decoration: none;
    font-weight: bolder;
}

a:hover {
    text-decoration: underline;
} 

section {
    padding-top: 10%;
    padding-bottom: 10%;
    padding-left: 20px;
    line-height: 2em;
    font-family: cursive;
    font-size: 3vw;
}

section > p {
    padding-bottom: 2em;
}

section.normal {
    background-color: #ffffff;
    color: #0d0d0d;
}

section.imagem {
    background-color: #53BF06;
    color: #ffffff;
    box-shadow: 6px 6px 13px 0px rgb(0, 0, 0);
    background-attachment: fixed;
}

section.imagem > p {
    display: inline-block;
    padding: 20px;
    background-color: #0d0d0d49;
    text-shadow: 1px 1px 0px black;
}

section#img01 {
    background-image: url(../desafio-012/imagens/background001.jpg); 
    background-position: right center;
    background-size: cover;
}

section#img02 {
    background-image: url(../desafio-012/imagens/background002.jpg);
    background-position: right center;;
    background-size: cover;
}

footer {
    background-color: #0d0d0d;
    color: #ffffff;
    text-align: center;
    padding: 5px;
}